In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.context import SparkContext
from pyspark import SparkContext
from pyspark.sql import *
from pyspark.sql.functions import *
from collections import Counter

In [6]:
spark1 = SparkSession.builder.appName("Actividad 14").getOrCreate()

In [7]:
sc=spark1.sparkContext

In [9]:
# Crear un RDD con datos de empleados
rdd = sc.parallelize([
    ("Juan", 25, 2500, "Ventas", 3),
    ("Ana", 30, 3000, "Marketing", 5),
    ("Luis", 35, 2800, "Ventas", 7),
    ("María", 40, 4000, "IT", 10),
    ("Pedro", 45, 4200, "IT", 12),
    ("Laura", 30, 3200, "Marketing", 4),
    ("Andrés", 29, 2900, "Ventas", 6),
    ("Paula", 38, 3300, "IT", 8),
    ("Carlos", 50, 4500, "Marketing", 15),
    ("Ricardo", 26, 2700, "Ventas", 2)
])

# Convertir el RDD a DataFrame
columns = ["nombre", "edad", "salario", "departamento", "experiencia"]
df = spark1.createDataFrame(rdd, columns)

df.show()

+-------+----+-------+------------+-----------+
| nombre|edad|salario|departamento|experiencia|
+-------+----+-------+------------+-----------+
|   Juan|  25|   2500|      Ventas|          3|
|    Ana|  30|   3000|   Marketing|          5|
|   Luis|  35|   2800|      Ventas|          7|
|  María|  40|   4000|          IT|         10|
|  Pedro|  45|   4200|          IT|         12|
|  Laura|  30|   3200|   Marketing|          4|
| Andrés|  29|   2900|      Ventas|          6|
|  Paula|  38|   3300|          IT|          8|
| Carlos|  50|   4500|   Marketing|         15|
|Ricardo|  26|   2700|      Ventas|          2|
+-------+----+-------+------------+-----------+

In [11]:

# 1. Media de Salario por Departamento usando RDD
# Agrupar el RDD por departamento y calcular la media del salario
rdd_grouped = rdd.map(lambda x: (x[3], x[2]))  # (departamento, salario)
rdd_sum_count = rdd_grouped.combineByKey(
    (lambda v: (v, 1)),  # Función para crear un acumulador (suma, conteo)
    (lambda acc, v: (acc[0] + v, acc[1] + 1)),  # Función de agregación
    (lambda acc1, acc2: (acc1[0] + acc2[0], acc1[1] + acc2[1]))  # Función de combinación
)

In [16]:
# Agrupar el RDD por departamento y calcular la media del salario
rdd_grouped = rdd.map(lambda x: (x[3], x[2]))  # (departamento, salario)
rdd_sum_count = rdd_grouped.combineByKey(
    (lambda v: (v, 1)),  # Función para crear un acumulador (suma, conteo)
    (lambda acc, v: (acc[0] + v, acc[1] + 1)),  # Función de agregación
    (lambda acc1, acc2: (acc1[0] + acc2[0], acc1[1] + acc2[1]))  # Función de combinación
)

# Calcular la media por departamento
rdd_mean = rdd_sum_count.mapValues(lambda x: x[0] / x[1])
print("Media de salario por departamento:")
print(rdd_mean.collect())

Media de salario por departamento:
[('Ventas', 2725.0), ('Marketing', 3566.6666666666665), ('IT', 3833.3333333333335)]

In [17]:
# Agrupar por departamento y calcular la mediana usando percentiles
rdd_grouped = rdd.map(lambda x: (x[3], x[2]))  # (departamento, salario)
rdd_sorted = rdd_grouped.groupByKey().mapValues(sorted)

# Calcular la mediana para cada grupo
rdd_mediana = rdd_sorted.mapValues(lambda salarios: salarios[len(salarios) // 2] if len(salarios) % 2 != 0 else
                                  (salarios[len(salarios) // 2 - 1] + salarios[len(salarios) // 2]) / 2)
print("Mediana de salario por departamento:")
print(rdd_mediana.collect())

Mediana de salario por departamento:
[('Ventas', 2750.0), ('Marketing', 3200), ('IT', 4000)]

In [23]:
# Crear un RDD con los rangos de edad y los salarios
rdd_age_salary = rdd.map(lambda x: (f"{x[1]//10*10}-{x[1]//10*10+9}", x[2]))  # Agrupar por rango de edad

# Contar la frecuencia de salarios dentro de cada rango de edad
rdd_salary_freq = rdd_age_salary.mapValues(lambda salario: (salario, 1)) \
                                .reduceByKey(lambda a, b: (a[0], a[1] + b[1]))  # (salario, frecuencia)

# Ahora, dentro de cada grupo de rango de edad, encontraremos el salario con mayor frecuencia
rdd_moda = rdd_salary_freq.mapValues(lambda x: x[0])  # Extraemos el salario más frecuente por rango de edad

# Mostrar el resultado
print("Moda de salario por rango de edad:")
print(rdd_moda.collect())

Moda de salario por rango de edad:
[('30-39', 3000), ('40-49', 4000), ('20-29', 2500), ('50-59', 4500)]

In [25]:
# Calcular correlación entre salario y experiencia
correlacion = df.stat.corr("experiencia", "salario")

print(f"Correlación entre experiencia y salario: {correlacion}")

Correlación entre experiencia y salario: 0.9269210067516603